/* General body styles */
body {
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text color for contrast */
  font-family: Arial, sans-serif; /* Sets the font style */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px; /* Added padding at the top */
}

/* Styles for the main heading */
h1 {
  color: #ffffff;
  margin-bottom: 20px; /* Space below the heading */
}

/* Styles for buttons */
button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s !important;
}

/* Styles for input fields */
input[type="text"] {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
  padding: 10px;
  margin: 5px;
}

/* Game joining section */
.join-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Space below the section */
}

/* Styles for the games list */
#gamesList div {
  background-color: #252525; /* Slightly lighter than body for contrast */
  color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

#gamesList button {
  margin-left: 10px;
}

/*hover effect for buttons*/
.joingame:hover {
  transition: background-color 0.3s !important;
  background: linear-gradient(
    135deg,
    #03a44b,
    #eab700,
    #c30037,
    #0065a8,
    #03a44b
  );
  background-size: 400% 100%;
  animation: gradientAnimation 5s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
